@import url(https://fonts.googleapis.com/css?family=Exo+2:300,400,700);
body{
  padding:0;
  margin:0;
  font-size:14px;
  font-family: "Exo 2", sans-serif;
  color: #333;

}
.blink_me {
    animation: blinker 1s linear infinite;
  }

  @keyframes blinker {
    50% { opacity: 0; }
  }
a{
    text-decoration: none;
    color:#7B7B7B;
}
a:hover{
    color:#60A2C0;
}

.resume{
    text-decoration: none;
    color: #E95500;
}
.resume:hover{
    color:#1a5d8d;
}

.card{
  position: relative;
  width: 67em;
  height: 51em;
  margin: 30px auto;
  box-shadow: 0 0 100px rgba(0,0,0, .3);
}
.card-header{
    height: 33em;
    background-size: cover;
    position: relative;
}
.card-header:after{
  content:'';
  opacity: 0.3;
  position: absolute;
  width: 100%;
  height: 100%;
}

.card-header-bar{
  position: absolute;
  top:0;
  width: 100%;
  z-index: 1;
  width: 100%;
}

.sr-only{
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0,0,0,0);
  border: none;
  overflow: hidden;
}
.btn-message{
  display: inline-block;
  background: url(https://res.cloudinary.com/dj14cmwoz/image/upload/v1491077483/profile-card/images/message.svg) no-repeat;
  width: 19.37px;
  height: 16.99px;
  margin-right:10px;
  margin-top:10px;
  float: right;
}
.btn-menu{
  display: inline-block;
  background: url(https://res.cloudinary.com/dj14cmwoz/image/upload/v1491077483/profile-card/images/menu.svg) no-repeat;
  width: 19px;
  height: 12.16px;
  margin-left:10px;
  margin-top:10px;
  float: left;
}


.card-header-slanted-edge{
  position: absolute;
  bottom: -3px;
  z-index: 1;
  width: 100%;
  right:0;
  left:0;
}

.btn-follow{
  position: absolute;
  top: -15px;
  right: 25px;
  width: 45px;
  height: 45px;
  background: linear-gradient(to left, #2D77C1, #68FAC2);
  border-radius:100%;
  box-shadow: 0 10px 15px rgba(110,221,235, .53);
}

.btn-follow:after{
  content: '';
  position:absolute;
  background: url(https://res.cloudinary.com/dj14cmwoz/image/upload/v1491077480/profile-card/images/add.svg) no-repeat;
  width:17px;
  height: 17px;
  left: 50%;
  top:50%;
  transform: translate(-50%, -50%);
}

.card-body{
  text-align:center;
  padding-left: 10px;
  padding-top: 2em;
}

.name{
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 auto;
}

.job-title{
  font-size: 14px;
  font-weight: 300;
  margin-top: 5px;
  color: #919191;
}

.bio{
  font-size: 14px;
  color: #7B7B7B;
  font-weight: 300;
  margin: 10px auto;
  line-height: 20px;
  font-family: monospace;

}

.social-accounts img{
  width: 15px;
}

.social-accounts a{
  margin-left: 10px;
}
.social-accounts a:first-child{
  margin-left: 0;
}

.card-footer{
  /*position:fixed; /* Full card width/height */
  position: absolute; /* Fixed card width/height */

  left: 0;
  width: 100%;
  bottom: 20px;
}
.stat{
  box-sizing: border-box;
  width: calc(100% / 3);
  float: left;
  text-align: center;
  border-left: 1px solid #EBEBEB;
}
.stat .label{
  display: block;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 11px;
  letter-spacing: 1px;
  color: #95989A;
}

.stat .value{
  display: block;
  font-weight: 700;
  font-size:17px;
  margin-top: 5px;
}



/*******************************************
              loading
*******************************************/

#loading {
    background-color: #ffde6b;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    margin-top: 0px;
    top: 0px;
    left: 0px;
    bottom: 0px;
    overflow: hidden !important;
    right: 0px;
    z-index: 999999;
}

#loading-center {
    width: 100%;
    height: 100%;
    position: relative;
}

#loading-center-absolute {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 50px;
    width: 50px;
    margin-top: -25px;
    margin-left: -25px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -ms-animation: loading-center-absolute 1.5s infinite;
    -moz-animation: loading-center-absolute 1.5s infinite;
    -o-animation: loading-center-absolute 1.5s infinite;
    -webkit-animation: loading-center-absolute 1.5s infinite;
    animation: loading-center-absolute 1.5s infinite;
}

.object {
    width: 25px;
    height: 25px;
    background-color: white;
    float: left;
}

#object_one {
    -webkit-animation: object_one 1.5s infinite;
    -o-animation: object_one 1.5s infinite;
    -moz-animation: object_one 1.5s infinite;
    -ms-animation: object_one 1.5s infinite;
    animation: object_one 1.5s infinite;
}

#object_two {
    -webkit-animation: object_two 1.5s infinite;
    -o-animation: object_two 1.5s infinite;
    -ms-animation: object_two 1.5s infinite;
    -moz-animation: object_two 1.5s infinite;
    animation: object_two 1.5s infinite;
}

#object_three {
    -webkit-animation: object_three 1.5s infinite;
    -o-animation: object_three 1.5s infinite;
    -moz-animation: object_three 1.5s infinite;
    -ms-animation: object_three 1.5s infinite;
    animation: object_three 1.5s infinite;
}

#object_four {
    -webkit-animation: object_four 1.5s infinite;
    -o-animation: object_four 1.5s infinite;
    -moz-animation: object_four 1.5s infinite;
    -ms-animation: object_four 1.5s infinite;
    animation: object_four 1.5s infinite;
}

@-webkit-keyframes loading-center-absolute {
    100% {
        -webkit-transform: rotate(-45deg);
    }
}

@keyframes loading-center-absolute {
    100% {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }
}

@-webkit-keyframes object_one {
    25% {
        -webkit-transform: translate(0, -50px) rotate(-180deg);
    }
    100% {
        -webkit-transform: translate(0, 0) rotate(-180deg);
    }
}

@keyframes object_one {
    25% {
        transform: translate(0, -50px) rotate(-180deg);
        -webkit-transform: translate(0, -50px) rotate(-180deg);
    }
    100% {
        transform: translate(0, 0) rotate(-180deg);
        -webkit-transform: translate(0, 0) rotate(-180deg);
    }
}

@-webkit-keyframes object_two {
    25% {
        -webkit-transform: translate(50px, 0) rotate(-180deg);
    }
    100% {
        -webkit-transform: translate(0, 0) rotate(-180deg);
    }
}

@keyframes object_two {
    25% {
        transform: translate(50px, 0) rotate(-180deg);
        -webkit-transform: translate(50px, 0) rotate(-180deg);
    }
    100% {
        transform: translate(0, 0) rotate(-180deg);
        -webkit-transform: translate(0, 0) rotate(-180deg);
    }
}

@-webkit-keyframes object_three {
    25% {
        -webkit-transform: translate(-50px, 0) rotate(-180deg);
    }
    100% {
        -webkit-transform: translate(0, 0) rotate(-180deg);
    }
}

@keyframes object_three {
    25% {
        transform: translate(-50px, 0) rotate(-180deg);
        -webkit-transform: translate(-50px, 0) rotate(-180deg);
    }
    100% {
        transform: translate(0, 0) rotate(-180deg);
        -webkit-transform: rtranslate(0, 0) rotate(-180deg);
    }
}

@-webkit-keyframes object_four {
    25% {
        -webkit-transform: translate(0, 50px) rotate(-180deg);
    }
    100% {
        -webkit-transform: translate(0, 0) rotate(-180deg);
    }
}

@keyframes object_four {
    25% {
        transform: translate(0, 50px) rotate(-180deg);
        -webkit-transform: translate(0, 50px) rotate(-180deg);
    }
    100% {
        transform: translate(0, 0) rotate(-180deg);
        -webkit-transform: translate(0, 0) rotate(-180deg);
    }
}

#cooking {
  position: relative;
  margin: 0 auto;
  top: 0;
  width: 75vh;
  height: 75vh;
  overflow: hidden;
}
#cooking .bubble {
  position: absolute;
  border-radius: 100%;
  box-shadow: 0 0 0.25vh #4d4d4d;
  opacity: 0;
}
#cooking .bubble:nth-child(1) {
  margin-top: 2.5vh;
  left: 58%;
  width: 2.5vh;
  height: 2.5vh;
  background-color: #454545;
  animation: bubble 2s cubic-bezier(0.53, 0.16, 0.39, 0.96) infinite;
}
#cooking .bubble:nth-child(2) {
  margin-top: 3vh;
  left: 52%;
  width: 2vh;
  height: 2vh;
  background-color: #3d3d3d;
  animation: bubble 2s ease-in-out .35s infinite;
}
#cooking .bubble:nth-child(3) {
  margin-top: 1.8vh;
  left: 50%;
  width: 1.5vh;
  height: 1.5vh;
  background-color: #333;
  animation: bubble 1.5s cubic-bezier(0.53, 0.16, 0.39, 0.96) 0.55s infinite;
}
#cooking .bubble:nth-child(4) {
  margin-top: 2.7vh;
  left: 56%;
  width: 1.2vh;
  height: 1.2vh;
  background-color: #2b2b2b;
  animation: bubble 1.8s cubic-bezier(0.53, 0.16, 0.39, 0.96) 0.9s infinite;
}
#cooking .bubble:nth-child(5) {
  margin-top: 2.7vh;
  left: 63%;
  width: 1.1vh;
  height: 1.1vh;
  background-color: #242424;
  animation: bubble 1.6s ease-in-out 1s infinite;
}
#cooking #area {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 50%;
  background-color: transparent;
  transform-origin: 15% 60%;
  animation: flip 2.1s ease-in-out infinite;
}
#cooking #area #sides {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-origin: 15% 60%;
  animation: switchSide 2.1s ease-in-out infinite;
}
#cooking #area #sides #handle {
  position: absolute;
  bottom: 18%;
  right: 80%;
  width: 35%;
  height: 20%;
  background-color: transparent;
  border-top: 1vh solid #333;
  border-left: 1vh solid transparent;
  border-radius: 100%;
  transform: rotate(20deg) rotateX(0deg) scale(1.3, 0.9);
}
#cooking #area #sides #pan {
  position: absolute;
  bottom: 20%;
  right: 30%;
  width: 50%;
  height: 8%;
  background-color: #333;
  border-radius: 0 0 1.4em 1.4em;
  transform-origin: -15% 0;
}
#cooking #area #pancake {
  position: absolute;
  top: 24%;
  width: 100%;
  height: 100%;
  transform: rotateX(85deg);
  animation: jump 2.1s ease-in-out infinite;
}
#cooking #area #pancake #pastry {
  position: absolute;
  bottom: 26%;
  right: 37%;
  width: 40%;
  height: 45%;
  background-color: #333;
  box-shadow: 0 0 3px 0 #333;
  border-radius: 100%;
  transform-origin: -20% 0;
  animation: fly 2.1s ease-in-out infinite;
}

@keyframes jump {
  0% {
    top: 24%;
    transform: rotateX(85deg);
  }
  25% {
    top: 10%;
    transform: rotateX(0deg);
  }
  50% {
    top: 30%;
    transform: rotateX(85deg);
  }
  75% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(85deg);
  }
}
@keyframes flip {
  0% {
    transform: rotate(0deg);
  }
  5% {
    transform: rotate(-27deg);
  }
  30%,
  50% {
    transform: rotate(0deg);
  }
  55% {
    transform: rotate(27deg);
  }
  83.3% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes switchSide {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}
@keyframes fly {
  0% {
    bottom: 26%;
    transform: rotate(0deg);
  }
  10% {
    bottom: 40%;
  }
  50% {
    bottom: 26%;
    transform: rotate(-190deg);
  }
  80% {
    bottom: 40%;
  }
  100% {
    bottom: 26%;
    transform: rotate(0deg);
  }
}
@keyframes bubble {
  0% {
    transform: scale(0.15, 0.15);
    top: 80%;
    opacity: 0;
  }
  50% {
    transform: scale(1.1, 1.1);
    opacity: 1;
  }
  100% {
    transform: scale(0.33, 0.33);
    top: 60%;
    opacity: 0;
  }
}
@keyframes pulse {
  0% {
    transform: scale(1, 1);
    opacity: .25;
  }
  50% {
    transform: scale(1.2, 1);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: .25;
  }
}
